.containerr{
    background-color: aqua;
    display: flex;
    justify-content: center;
    height: 400px;
    align-items: center;
}
.boxx{
    background-color: rgb(188, 146, 82);
    font-size: 2em;
    height: 80px;
    width: 80px;
    text-align: center;
}

.containerrr{
    background-color: blanchedalmond;
}

.contentt{
    background-color: aquamarine;
    font-size: 2em;
    max-width: 1000px;
    margin: 0 auto;
}